[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-cors = "*"
flask-migrate = "*"
flask-bcrypt = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"
pydantic = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.11"
